<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>About Saloni Mahat</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/stylesheets/saloni.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body style="background-color:#f2f6f5">

    <div id=about class="site-section">


        <!--Header with Profile Picture and Links-->
        <div class="psheader">
            <div class="ps-container-profile">

                <!--Profile Image-->
                <img class="profile-img" src="../static/image/picture.jpeg" width="200"/> <br>

                <!--Brief Info-->
                <h1 class="psh1">Saloni Mahat</h1>
                <p class="pspbody"> Computer Science Graduate
                    <br>
                    San Francisco State University
                    <br>
                    <!--LinkedIn Link-->
                    <a href="https://www.linkedin.com/in/saloni-mahat-630ab4178/" target="_blank">
                        <i class="fa fa-linkedin" style="color:#0f0f0f;font-size:25px"></i></a> 
                        
                    <!--GitHub Link-->
                    <a href="https://github.com/salonimahat?tab=repositories" target="_blank">
                        <i class="fa fa-github" style="color:#111111;font-size:25px"></i></a>
                </p>

            </div>
        </div>


        <br><br>


        <!--Body-->
        <section class="psbody">

            <!--About Descripton-->
            <div class="ps-container-description">
                <h1 class="psh1">About</h1>
                <p class="pspbody">
                    <br>
                    Hello! I am Saloni Mahat. I recently graduated my bachelors degree from San Francisco State University.
                    I am a Computer Science student who is enthusiastic and self-motivated. 
                    Strong work ethic as well as the capacity to work both independently and collaboratively. 
                    Strong organizational and management skills, as well as the ability to pick up 
                    information quickly and turn it into actionable results. 
                    I'm looking for ways to advance both professionally and personally.
                </p>
            </div>


            <br><br>


            <!--Skillset-->
            <div class="ps-container-skillset">
                <h1 class="psh1">Skillsets</h1>
                <p class="pspbody">
                    <br>
                    Java
                    <br>
                    HTML
                    <br>
                    CSS
                    <br>
                    JavaScript
                    <br>
                    Node.js
                    <br>
                    MySQL
                    <br>
                    Analytical Skills
                    <br>
                    Leadership
                    <br>
                    Communication
                    <br>
                    UX Experience
                    
                </p>
            </div>


            <br><br>


            <!--Experiences-->
            <div class="ps-container-experience">
                <h1 class="psh1">Experience</h1>
                <br>
                <h4>Computer Science TA | San Francisco, CA</h4>
                <h5>Aug 2020 - Dec 2021</h5>
                <p class="pspbody">
                    <br>
                    ● Teaching 40+ students the core concepts of Java.
                    <br>
                    ● Grading assignments and exams.
                    <br>
                    ● Committing to work with and educate learners in a supportive environment to enhance 
                    knowledge understanding and application while also improving critical thinking and communication skills.
                </p>
            </div>

            <div class="ps-container-experience">
                <br>
                <h4>Computer Science Mentor | San Francisco, CA</h4>
                <h5>Aug 2020 - Dec 2021</h5>
                <p class="pspbody">
                    <br>
                    ● Providing interactive one-on-one mentoring sessions in a variety of subjects to help students
                    develop stronger learning and studying techniques while also improving communication and
                    active listening skills.
                    <br>
                    ● Developing a good connection between mentor-mentee, mentee-mentee, and instructor-mentee.
                </p>
            </div>



            <br><br>


            <!--Projects-->
            <div class="ps-container-projects">
                <h1 class=psh1>Projects</h1>
                <br>
                <!--First Project-->
                <h4>Musical Instruments and Visualizers </h4>
                <br>
                <p class="pspbody">
                    ● Created a musical instrument app for users that has 4 different instruments and visualizers.
                    <br>
                    ● Implemented use cases, structured and designed relational database with appropriate constraints.
                    <br>
                    Used: HTML, CSS, ReactJS, Typescript, SQL, GitHub.
                </p>

                <br>

                <!--Second Project-->
                <h4>Food Delivery App </h4>
                <br>
                <p class="pspbody">
                    ● Implemented a secured login system for each user to create secured authentication.
                    <br>
                    ● Created cross-platform, reusable, and fully responsive UI components that efficiently work on all devices.
                    <br>
                    Used: HTML, CSS, Python, Flask, SQL, GitHub, AWS.
                </p>

                 <!--Third Project-->
                 <h4>Journal App </h4>
                 <br>
                 <p class="pspbody">
                     ● Build a multi-function app that allows users to write journals, set a reminder, have a TODO list
                     and generate random motivational quotes.
                     <br>
                     Used: HTML,CSS, Javascript.
                 </p>
            </div>
        </section>


    </div>

    <div style="margin-top:100px"></div>


</body>
</html>
